:root {
  --navbar-color: #252529;
  --main-color: #181818;
  --primary-color: #e50914;
  --primary-color-hover: #fa320a;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

header {
  text-align: center;
}

li {
  display: inline;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: var(--primary-color);
}

hr {
  width: 100%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
  border: 0 none;
}

.top-container {
  background: #ccc;
  padding: 5px;
  border-bottom: 2px solid #0f0f0f;
}

.navbar {
  background: var(--navbar-color);
}

.bottom-container {
  background: var(--navbar-color);
  padding: 5px;
  border-top: 2px solid #0f0f0f;
  bottom: 0;
}

.container-term {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

footer {
  text-align: center;
  height: 50px;
  color: white;
  padding: 5px;
  margin-top: 10px;
  bottom: 0px;
}

.btn-submit {
  background-color: cornflowerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn-submit:hover {
  opacity: 1;
}

.error-message {
  color: red;
}

.user {
  float: right;
  position: absolute;
  font-size: 25px;
  right: 10em;
  top: 2em;
}

img {
  width: 100%;
}

.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

section#section-3 {
  background: url(../images/6551331661_2808dcb790_o.jpg) no-repeat bottom/cover;
  padding: 10rem 0;
}

.section-4 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

#display {
  margin: 0;
  padding: 0;
  background: url('../images/2606435795_66c5e5127c_o.jpg') no-repeat
    center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#display .container {
  margin-top: 25vh;
}

#display h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#display h2 {
  font-size: 2rem;
}

.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

@media screen and (max-width: 780px) {
  .section-4 {
    grid-template-columns: 1fr;
  }

  footer .footer-cols {
    display: none;
  }
}

@media screen and (max-height: 580px) {
  #display p.lead {
    display: none;
  }
}
