{% extends "layout.html" %}{% block main_content %}

<div class="row">
  <div class="col-md-12 text-center">
    <div id="display">
      <div class="section-main container">
        <h1>Welcome to Movies Watchlist</h1>
        <h2>You'll never forget your next goto movie with us.</h2>
      </div>
    </div>

    <section id="movie" class="section">
      <div class="container">
        <h2 class="section-head">
          <i class="fas fa-movie"></i> Opening this week
        </h2>
        <h3>2020 most anticipated</h3>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
          expedita tempore quasi omnis a aut et totam illo fuga accusamus
          dolorum vero, ut harum consectetur. Minima molestias officiis culpa
          non sed dicta itaque. Et aliquam illo obcaecati molestias veritatis
          porro.
        </p>
        <a href="#" class="btn btn-primary mb">Add to your Watchlist</a>

        <img
          src="{{ url_for('static', filename='images/krists-luhaers-AtPWnYNDJnM-unsplash.jpg') }}"
          alt=""
        />
      </div>
    </section>

    <section id="Section-2" class="section bg-light">
      <div class="container">
        <h3>Featured Movie you don't want to miss</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          venenatis non libero sit amet hendrerit. Nulla vel faucibus nibh.
          Fusce nec mauris tempor, venenatis arcu id, interdum magna. Donec
          maximus massa et libero ullamcorper ultrices. Vestibulum ut tellus in
          est maximus porta. Donec in ex finibus, dapibus quam vitae,
          sollicitudin orci. Aliquam erat volutpat. In sit amet leo risus. In
          vulputate purus
        </p>
        <img
          src="{{ url_for('static', filename='images/app-entertainment-ipad-mockup-265685.jpg') }}"
          alt=""
        />
      </div>
    </section>

    <section id="section-3" class="section">
      <div class="container">
        <h3>Coming Soon</h3>
      </div>
    </section>

    <section id="section-4" class="section bg-light">
      <div class="container">
        <div class="section-4">
          <div>
            <img
              src="{{ url_for('static', filename='images/jens-kreuter-ngMtsE5r9eI-unsplash.jpg') }}"
              alt=""
            />
          </div>
          <div>
            <h2>Latest News</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
              expedita tempore quasi omnis a aut et totam illo fuga accusamus
              dolorum vero, ut harum consectetur. Minima molestias officiis
              culpa non sed dicta itaque. Et aliquam illo obcaecati molestias
              veritatis porro.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
            </p>
            <hr />
            <a href="#" class="text-secondary">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
              expedita tempore quasi omnis a aut et totam illo fuga accusamus
              dolorum vero, ut harum consectetur. Minima molestias officiis
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}
