{% extends "layout.html" %} {% block main_content %}

<div class="row">
  <div class="col-md-12 text-center">
    <!-- <h1>Welcome to Movies Watchlist</h1> -->

    {% if session['username'] %}
    <h3>Let's get started.</h3>
    {% else %}
    <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
    {% endif %}

    <!-- <div style="text-align:left;">
      <h2>Lorem Ipsum</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        venenatis non libero sit amet hendrerit. Nulla vel faucibus nibh. Fusce
        nec mauris tempor, venenatis arcu id, interdum magna. Donec maximus
        massa et libero ullamcorper ultrices. Vestibulum ut tellus in est
        maximus porta. Donec in ex finibus, dapibus quam vitae, sollicitudin
        orci. Aliquam erat volutpat. In sit amet leo risus. In vulputate purus
        id felis fringilla, at pharetra justo consectetur. Vivamus pretium nunc
        id est blandit, vel blandit purus auctor. Sed consectetur est id
        suscipit faucibus. Integer a sagittis enim, ac cursus libero. Sed
        euismod posuere vestibulum. Ut ipsum massa, vehicula non dui ut, dapibus
        placerat nisi. Aliquam a dictum quam. Fusce vestibulum elit erat, at
        porta lectus hendrerit sagittis. Maecenas sollicitudin blandit nisl non
        fringilla. In non leo accumsan ipsum pharetra ultricies. Donec congue
        luctus nisl vel ultricies.s
      </p>
    </div> -->

    <div id="showcase">
      <div class="section-main container">
        <h1>Welcome to Movies Watchlist</h1>
        <h2>Your music, movies, and TV shows take center stage.</h2>
        <p class="lead hide-on-small">
          myTunes is the best way to organize and enjoy the music, movies, and
          TV shows you already have — and shop for the ones you want. Enjoy all
          the entertainment myTunes has to offer on your Mac and PC.
        </p>
      </div>
    </div>

    <!-- Music Section -->
    <section id="music" class="section">
      <div class="container">
        <h2 class="section-head"><i class="fas fa-music"></i> Music</h2>
        <h3>45 million songs. Zero ads.</h3>
        <p class="lead">
          Stream over 45 million songs, ad-free. Or download albums and tracks
          to listen to offline. All the music in your personal myTunes library —
          no matter where it came from — lives right alongside the Orange Music
          catalog. Start your free three-month trial with no commitment, and
          cancel anytime.
        </p>
        <a href="#" class="btn btn-primary mb">Start Your Trial Now</a>
        <p class="text-light">
          Orange Music is available in myTunes, and for iOS and Android devices.
        </p>
        <img
          src="{{ url_for('static', filename='images/mockup1.png') }}"
          alt=""
        />
      </div>
    </section>

    <!-- Video Section -->
    <section id="video" class="section bg-light">
      <div class="container">
        <h3>The movie and TV collection you always wished for. Granted.</h3>
        <p class="lead">
          With over 100,000 movies and TV shows to choose from, there’s always
          something great to watch on myTunes and if you watch on Orange TV 4K,
          you’ll be able to enjoy a tremendous selection of your favorite
          content in 4K HDR. So get ready to enjoy episodes of your favorite TV
          shows or hit movies you’ve been waiting to see — anytime, anywhere.
          Just tap to play, or even download if you’re going somewhere you won’t
          have Wi-Fi.
        </p>
        <a href="#" class="btn btn-secondary">Read More</a>
        <img
          src="{{ url_for('static', filename='images/mockup2.png') }}"
          alt=""
        />
      </div>
    </section>

    <!-- Entertainment Section -->
    <section id="entertainment" class="section">
      <div class="container">
        <h3>A world of entertainment. Available wherever you are.</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          veniam nobis, nisi ut expedita, doloribus reprehenderit explicabo non
          velit repellat alias saepe inventore repellendus? Molestias suscipit
          eos tempora? Quae quaerat cumque in veritatis impedit dolorum sapiente
          recusandae minima quo aperiam quam, excepturi quasi totam ad quas?
          Ipsam laudantium soluta delectus!
        </p>
      </div>
    </section>

    <!-- Gift Card Section -->
    <section id="gift-cards" class="section bg-light">
      <div class="container">
        <div class="gift-cards">
          <div>
            <img
              src="{{ url_for('static', filename='images/cards.png') }}"
              alt=""
            />
          </div>
          <div>
            <h2>Gift Cards</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
              expedita tempore quasi omnis a aut et totam illo fuga accusamus
              dolorum vero, ut harum consectetur. Minima molestias officiis
              culpa non sed dicta itaque. Et aliquam illo obcaecati molestias
              veritatis porro.
            </p>
            <p>Already have an Orange MyTunes Music Gift Card?</p>
            <hr />
            <a href="#" class="text-secondary">
              <i class="fas fa-chevron-right"></i> Redeem
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}
