{% extends "layout.html" %} {% block head_content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block main_content %}

<div id="wrapper">
  <div id="left">
    <div id="signin">
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/red-translucent-die-on-top-of-black-surface-979722.jpg') }}"
          alt=""
        />
      </div>
      <form name="login" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div>
          {{ form.email.label }}<br />
          {{ form.email(size=50, class_="text-input")}} {% for error in
          form.email.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div>
          {{ form.password.label }}<br />
          {{ form.password(size=50, class_="text-input") }} {% for error in
          form.password.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>

        <div>
          {{ form.submit(class_="primary-btn") }}
        </div>
      </form>
    </div>
  </div>
  <div id="right">
    <div id="display">
      <div class="display-content"></div>
    </div>
  </div>
</div>

{% endblock %}
