{% extends "layout.html" %} {% block head_content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/movies.css') }}"
/>
{% endblock %} {% block main_content %}
<h1>Movies</h1>

<h3>Year: {{ year }}</h3>

<div>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">Movie ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Year</th>
        <th scope="col">Category</th>
        <th scope="col">Add to Watchlist</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies_data %}
      <tr class="active-row">
        <td scope="row">{{ movie['movie_id'] }}</td>
        <td>{{ movie['title'] }}</td>
        <td>{{ movie['description'] }}</td>
        <td>{{ movie['year'] }}</td>
        <td>{{ movie['category'] }}</td>
        <td>
          <form action="{{ url_for('watchlist') }}" method="POST">
            <input
              type="hidden"
              name="movie_id"
              value="{{ movie['movie_id'] }}"
            />
            <input type="hidden" name="title" value="{{ movie['title'] }}" />
            <input type="hidden" name="term" value="{{ movie['term'] }}" />

            <button class="primary-btn">Add to Watchlist</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
